{% extends 'frontbase.html.twig' %}

{% block title %} Login {{ data[0].title }} {% endblock %}
{% block keywords %} {{ data[0].keywords }} {% endblock %}
{% block description %} {{ data[0].description }} {% endblock %}

{% block sidebar %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
 {{ include ('home/_usersidebar.html.twig') }} 
{% endif %}
{% endblock %}

{% block body %} 

<div id="mainBody">
<div class="container">
<div class="span3"></div>
<div class="span9">
<div class="well">

{% if is_granted('IS_AUTHENTICATED_FULLY') %}

User Name: {{ app.user.name }} <br>
User Email: {{ app.user.email }}
<br><br><br><br><br><br><br><br><br><br><br><br><br>

{% else %}
{{ include('messages.html.twig') }}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h3 class="h3 mb-3 font-weight-normal">User Login</h3>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"><br>
    <button class="btn btn-lg btn-primary" type="submit"> Sign in </button>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
</form>
If you are not registered your account yet click the link below: <br> <br>
<a href='{{ path('new_user') }}' class="btn btn-lg btn-primary">Sign Up & Register</a>
{% endif %}

</div>
</div>
</div>
</div>
</div>
</div>
 {% endblock %}
