
<style>
	ul#menu-v, #menu-v ul
{
    width:270px; /* Main Menu width */
    border:1px solid rgba(190,190,190,0.3);
    list-style:none; margin:0; padding:0;
    z-index:15;
}     

#menu-v li
{
    margin:0;padding:0;
    position:relative;    
    background-color:#DDDDDD; /*fallback color*/
	background-color:rgba(4,10.4,6,0.5);
    transition:background 0.5s;
}
#menu-v li:hover
{
    background-color:rgba(0,0.4,0.5,0.9);
}

#menu-v a
{
    font:normal 13px Arial;
    border-top:1px solid rgba(190,190,190,0.3);
    display:block;
    color:#EEEEEE;
    text-decoration:none;
    line-height:35px;
    padding-left:22px; 
    position:relative;           
}

#menu-v li:first-child a
{
    border-top:0;
}

#menu-v a.arrow::after{
    content:'';
    position:absolute;
    display:inline;
    top:50%;
    margin-top:-4px;
    right:8px;
    border-width:4px;
    border-style:solid;
    border-color:transparent transparent transparent white;
    transition:border-color 0.5s;  
}
                
#menu-v li a.arrow:hover::after
{
    border-color:transparent transparent transparent #CCCCCC;
}
        
/*Sub level menu items
---------------------------------------*/
#menu-v li ul
{
    min-width:200px; /* Sub level menu min width */
    position:absolute;
    display:none;
    left:100%;
    top:50%; transform:translateY(-50%);
}

#menu-v li:hover > ul
{
    display:block;
}
</style>


<div id="mainBody">
	<div class="container">
	<div class="row">
	<!-- Sidebar ================================================== -->
	<div id="sidebar" class="span2.5">
		<div class="well well-small"><a id="myCart" href="{{ path('shopcart_index') }}"><img src="{{ asset('themes') }}/images/ico-cart.png" alt="cart"> 
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		{{ count }} Items in your cart  <span class="badge badge-warning pull-right">{{ total }}₺</span></a></div> 
		{% else %}
		0 Items in your cart  <br><span class="badge badge-warning pull-right">0.00₺</span></a></div> 
		{% endif %}
		<!-- 
		<ul id="sideManu" class="nav nav-tabs nav-stacked">
			<li class="subMenu open"><a> ELECTRONICS [230]</a>
				<ul>
				<li><a class="active" href="products.html"><i class="icon-chevron-right"></i>Cameras (100) </a></li>
				<li><a href="products.html"><i class="icon-chevron-right"></i>Computers, Tablets & laptop (30)</a></li>
				<li><a href="products.html"><i class="icon-chevron-right"></i>Mobile Phone (80)</a></li>
				<li><a href="products.html"><i class="icon-chevron-right"></i>Sound & Vision (15)</a></li>
				</ul>
			</li>
			<li class="subMenu"><a> CLOTHES [840] </a>
			<ul style="display:none">
				<li><a href="products.html"><i class="icon-chevron-right"></i>Women's Clothing (45)</a></li>
				<li><a href="products.html"><i class="icon-chevron-right"></i>Women's Shoes (8)</a></li>												
				<li><a href="products.html"><i class="icon-chevron-right"></i>Women's Hand Bags (5)</a></li>	
				<li><a href="products.html"><i class="icon-chevron-right"></i>Men's Clothings  (45)</a></li>
				<li><a href="products.html"><i class="icon-chevron-right"></i>Men's Shoes (6)</a></li>												
				<li><a href="products.html"><i class="icon-chevron-right"></i>Kids Clothing (5)</a></li>												
				<li><a href="products.html"><i class="icon-chevron-right"></i>Kids Shoes (3)</a></li>												
			</ul>
			</li>
			<li class="subMenu"><a>FOOD AND BEVERAGES [1000]</a>
				<ul style="display:none">
				<li><a href="products.html"><i class="icon-chevron-right"></i>Angoves  (35)</a></li>
				<li><a href="products.html"><i class="icon-chevron-right"></i>Bouchard Aine & Fils (8)</a></li>												
				<li><a href="products.html"><i class="icon-chevron-right"></i>French Rabbit (5)</a></li>	
				<li><a href="products.html"><i class="icon-chevron-right"></i>Louis Bernard  (45)</a></li>
				<li><a href="products.html"><i class="icon-chevron-right"></i>BIB Wine (Bag in Box) (8)</a></li>												
				<li><a href="products.html"><i class="icon-chevron-right"></i>Other Liquors & Wine (5)</a></li>												
				<li><a href="products.html"><i class="icon-chevron-right"></i>Garden (3)</a></li>												
				<li><a href="products.html"><i class="icon-chevron-right"></i>Khao Shong (11)</a></li>												
			</ul>
			</li>
			<li><a href="products.html">HEALTH & BEAUTY [18]</a></li>
			<li><a href="products.html">SPORTS & LEISURE [58]</a></li>
			<li><a href="products.html">BOOKS & ENTERTAINMENTS [14]</a></li>
		</ul>
		-->

		{% for cat in cats %}
			{{ cat|raw }}
		{% endfor %}
	<br><br><br><br><br><br>		
	</div>
	
<!-- Sidebar end=============================================== -->