{% extends 'adminbase.html.twig' %}
{% block title %} Messages {% endblock %}
{% block content %}
<!-- Content =====================================================================-->
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"></a> </div>
    <h1>ADMIN PANEL</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-home"></i> </span>
            <h5>Messages List</h5>
            <div align="right" style="padding-top:5px; padding:5px;">      
               
            </div>
          </div>

          <div class="widget-content ">
            <table class="table table-bordered table-striped with-check">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Subject</th>
                <th>Message</th>
                <th>Comment</th>
                <th>Status</th>
                <th>Show</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.name }}</td>
                <td>{{ message.email }}</td>
                <td>{{ message.subject }}</td>
                <td>{{ message.message }}</td>
                <td>{{ message.comment }}</td>
                <td>{{ message.status }}</td>
                <td>
                <a class="btn btn-info" href="javascript:openWin('{{ path('admin_messages_show', {'id': message.id}) }}','','toolbar=no,location=no,directories=0,status=no,top=100,left=200,menuBar=no,scrollBars=no,resızable=no,width=800, height=600');">
                Show Message</a></td>
                <td>{{ include('admin/messages/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>

 </table>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end Content part -->

{% endblock %}
