{% extends 'base.html.twig' %}

{% block title %}Favourite{% endblock %}

{% block body %}
    <h1>Favourite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ favourite.id }}</td>
            </tr>
            <tr>
                <th>Productid</th>
                <td>{{ favourite.productid }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ favourite.userid }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ favourite.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('favourite_index') }}">back to list</a>

    <a href="{{ path('favourite_edit', {'id': favourite.id}) }}">edit</a>

    {{ include('favourite/_delete_form.html.twig') }}
{% endblock %}
