
<form action="#" method="post" class="form-horizontal">
            
            <div class="control-group">
              <label class="control-label">Kategorisi :</label>
              <div class="controls">
                <select name="product[category_id]" class="span11">

                {% if product.categoryid==null %}
                    <option value="{{ product.categoryid }}">{{ product.categoryid }}</option>
                {% else %}
                    <option value="{{ product.categoryid }}">{{ catname[0].title }}</option>
                {% endif %}

                    
                    {% for cat in catlist %}
                    <option value="{{ cat.id }}">{{ cat.title }}</option>
                    {% endfor %}
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Title(Başlık) :</label>
              <div class="controls">
                <input type="text" name="product[title]" value="{{ product.title }}" class="span11" placeholder="Title">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Keywords(Anahtar Kelimeler) :</label>
              <div class="controls">
                <input type="text" name="product[keywords]" value="{{ product.keywords }}" class="span11" placeholder="Enter keyword">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Description(Kısa Açıklama):</label>
              <div class="controls">
                <input type="text" name="product[description]" value="{{ product.description }}" class="span11" placeholder="Enter description">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Purchase Price(Alış Fiyatı):</label>
              <div class="controls">
                <input type="text" name="product[pprice]" value="{{ product.pprice }}" class="span11" placeholder="Enter description">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Sale Price(Satış Fiyatı):</label>
              <div class="controls">
                <input type="text" name="product[sprice]" value="{{ product.sprice }}" class="span11" placeholder="Enter description">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Amount(Miktar):</label>
              <div class="controls">
                <input type="text" name="product[amount]" value="{{ product.amount }}" class="span11" placeholder="Enter description">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Status(Aktiflik Durumu) :</label>
              <div class="controls">
                <select name="product[status]" value="{{ product.status }}" class="span11" placeholder="Select status">
                    <option>true</option>
                    <option>false</option>
                </select>
              </div>
            </div>
             <div class="control-group">
              <label class="control-label">Detail(Detay):</label>
              <div class="controls">
                <textarea name="product[detail]" id="editor" rows="10" cols="100">{{ product.detail }}</textarea>
              </div>
            </div>
            
            <div class="form-actions">
              <button type="submit" class="btn btn-success">Save</button>
            </div>
</form>

       